.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
scripts/**
node_modules/**
out/**
images/screenshots/**
webpack.config.js
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts