html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
  font-size: 14px;
  padding: 0 1rem;
  word-wrap: break-word;
  height: 100%;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  min-width: 300px;
  line-height: 22px;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  outline-offset: none;
}

main {
  flex: 1;
  overflow: auto;
  padding: 0 1rem;
  padding-bottom: 1.25rem;
}

main .solution-list {
  display: flex;
  flex-wrap: wrap;
}

main .solution-list .solution {
  transition: 0.2s;
  flex: 1;
  min-width: 180px;
  cursor: pointer;
  text-decoration: none !important;
  padding: 2rem;
  border-radius: 2px;
  margin: 6px;
  height: 20px;
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
}

main .solution-list .solution:hover {
  border: 1px solid;
}

main h1 {
  display: none;
}

main p,
main li,
main span {
  line-height: 1.5rem;
  margin-top: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25rem;
}

header .top-section {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 100px;
  padding: 0.8rem 1rem 0.1rem 1rem;
}

header .top-section .icon {
  margin-right: 1.5rem;
  min-width: 64px;
  max-width: 128px;
  height: 64px;
  background-size: 85%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

body.vscode-light header .top-section .icon {
  background-image: var(--exerciseIconLight);
}

body header .top-section .icon {
  background-image: var(--exerciseIconDark);
}

header .top-section .meta::-webkit-scrollbar {
  display: none;
}

header .top-section .meta {
  flex: auto;
  margin-right: 1rem;
  overflow: auto;
  max-height: 120px;
}

header .top-section .meta h3 {
  margin: 1rem 0;
}

header .top-section .meta .difficulty {
  padding-left: 1rem;
  background: rgba(0, 0, 0, 0.15);
  color: var(--vscode-descriptionForeground);
  padding: 3px 5px;
  border-radius: 2px;
  font-size: 12px;
  margin: 3px;
}

header .top-section .meta .summary {
  line-height: 1.2rem;
}

header .top-section .meta .summary .topic {
  padding-right: 4px;
}

header .top-section .meta .summary .topic.active {
  filter: brightness(0.8);
}

header .top-section .actions {
  display: flex;
  flex-direction: column;
}

header .top-section .actions .action-btn {
  margin: 4px;
  padding: 7px 1rem;
  width: 110px;
  border: none;
  border-radius: 2px;
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  font-family: inherit;
}

header .top-section .actions .action-btn:hover {
  filter: brightness(120%);
}

header .top-section .actions .action-btn:disabled,
header .top-section .actions .action-btn:disabled:hover {
  filter: brightness(60%);
  cursor: default;
}

header .bottom-section {
  border-bottom: 1px solid var(--vscode-textSeparator-foreground);
  padding: 4.5px 0 9px 0;
}

header .bottom-section .nav-link {
  display: inline;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: var(--vscode-descriptionForeground);
  padding: 12px;
}

header .bottom-section .nav-link:hover {
  filter: brightness(1.2);
}

header .bottom-section .nav-link.active {
  color: var(--vscode-editor-foreground);
  border-bottom: 1px solid var(--vscode-editor-foreground);
  filter: none !important;
}
